<h3>Progress</h3>
<ul class="nav flex-column nav-pills" aria-orientation="vertical">
  <li class="nav-item">
    <% if params[:canvas] and @canvas %>
      <a class="nav-link" href="<%= edit_canvas_path(@canvas.id, canvas: @canvas.slug) %>" role="tab" aria-controls="home" aria-selected="true">01. <%= @canvas.name %> <span class="pull-right"><i class="fa fa-check-circle text-success"></i> </span> </a>
    <% else %>
      <a class="nav-link <%= 'active' if params[:canvas] == '' %>" href="/" role="tab" aria-controls="home" aria-selected="true">01. Name</a>
    <% end %>

  </li>
  <% @canvas_item_types.each do |type| %>
    <% type_count = type.canvas_items.where(canvas_id: @canvas.id).count %>
    <li class="nav-item">
      <% if params[:canvas] %>
        <a class="nav-link <%= 'active' if params[:step] == type.position.to_s %>" href="<%= new_canvas_item_path(canvas: @canvas.slug, step: type.position) %>" role="tab" aria-controls="profile" aria-selected="false">
          <%= sprintf '%02d', (type.position + 1) %>. <%= type.name.pluralize %>
          <% if type_count > 0 %>
            <span class="pull-right badge badge-secondary"><%= type_count %></span>
          <% end %>
        </a>
      <% else %>
        <a href="#" class="nav-link disabled" aria-disabled="true"><%= sprintf '%02d', (type.position + 1) %>. <%= type.name.pluralize %></a>
      <% end %>

    </li>
  <% end %>
  <hr>
  <% if params[:canvas] %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page?(canvas_path(@canvas)) %>" href="<%= canvas_path(@canvas) %>" role="tab" aria-controls="View canvas" aria-selected="false"><i class="fa fa-eye fa-fw"></i> View Canvas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= canvas_path(@canvas) %>" role="tab" aria-controls="View canvas" aria-selected="false"><i class="fa fa-save fa-fw"></i> Save Canvas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= canvas_path(@canvas) %>" role="tab" aria-controls="View canvas" aria-selected="false"><i class="fa fa-share fa-fw"></i> Share Canvas</a>
    </li>
  <% end %>
</ul>
